global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ['localhost:9090']

  - job_name: traefik
    static_configs:
      - targets: ['traefik:8080']

  - job_name: cadvisor
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: bme280
    static_configs:
      - targets: ['192.168.1.229:80']

  - job_name: navidrome
    static_configs:
      - targets: ['navidrome:4533']

  - job_name: waves
    static_configs:
      - targets: ['waves-server:8080']

  - job_name: pocket-id
    static_configs:
      - targets: ['pocket-id:9464']
