http:
  middlewares:
    add-trailing-slash:
      redirectRegex:
        regex: "^(https?://[^/]+/[a-z0-9_]+)$"
        replacement: "${1}/"
        permanent: true

    internalOnly:
      plugin:
        denyip:
          ipDenyList:
            - "192.168.1.223" # MFN Reverse proxy
